*{padding:0;
    margin:0;}
body{
   background-image: url("https://static.vecteezy.com/system/resources/previews/002/309/794/non_2x/geometric-white-background-free-vector.jpg");
}
    input{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
       
        border-radius: 15px;
        color: whitesmoke;
        background: rgba( 255, 0, 0, 0.7 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 300px;

    }
.modal{
    width:100%;
    height:100vh;
    background-color: rgba(128, 128, 128, 0.616);
    position: fixed;
    top:0;
    left:0;
    display: none;
    
}
.input2{
    background: rgba( 191, 182, 182, 0.7 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.modalinside2{
    width:400px;
    background-color: whitesmoke;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    margin: auto;
    margin-top:80px;
    flex-direction: column;
    gap: 50px;
    background: rgba( 255, 255, 255, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.5px );
-webkit-backdrop-filter: blur( 2.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.modalinside{
    width:400px;
    background-color: whitesmoke;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    margin: auto;
    margin-top:80px;
    flex-direction: column;
    gap: 50px;
    background: rgba( 255, 0, 0, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.themainbackground{
    height: 100vh;
    width:100%;
    
}
#closebutn{
    cursor:pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.obvy{
    display: flex;
}
    
 nav{
     background-color: goldenrod;
     display:flex;
    justify-content: space-between;
    align-items: center;
   color: white;
    gap: 50px;
    flex-direction: row;
 
 }
.names{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.urname{
    width: 130px;
}
.isabun{
    padding-right: 100px;
}
 .homelogo{
     color: black;
 }
 
 .image{
     width:60px;
     height: 60px;
 padding-left: 20px;
 padding-top: 5px;
 
 }
 .closeok{
    border-color: black;
    border-style: solid;
    size: 1vh;
    color: black;
    border-radius: 15px; 
    text-align: center;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

 }
 .navbare{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     list-style: none;
     
     gap:30%;
 }
 
 .icon{
    display: none;
 }
 
  @media screen and (max-width:600px) {
   .navbare {
    display: none;
       
    }
    .icon{
       display: flex;
       
    }
    .logo{
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
       width: 100%;
       padding-right: 50px;
 
    }
    .navbare{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
      gap: 30px;
    }
  .themainbackground{
    background-repeat: no-repeat;
    background-size: cover;
  }
    .both{
       display: none;
       flex-direction: column;
    }
    nav{
       display: flex;
       flex-direction: column;
       align-items: center;
    }
    .showmenu{
       display: flex;
    }
    .isabun{
        padding-left: 100px;
    }
    .modalinside{
        width: 300px;
    }
    .modalinside2{
        width: 300px;
    }
  }
 
 
 